@charset "utf-8";

@import url(https://fonts.googleapis.com/css?family=Oleo+Script|Open+Sans:300,400italic,800italic,400,800);

/* BASE STYLES */
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background: #ededed;
  font-weight: 300;
}

/* a {
  text-decoration: none;
}

li {
  list-style-type: none;
} */

/* container */

/* .cc {
  width: 95%;
  max-width: 1500px;
  margin: 0 auto;
} */

/* HEADER */
/* #header {
  margin-top: 2rem;
} */

/* #header > .cc {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

/* LOGO */
/* #logo {
  display: flex;
  align-items: center;
} */

/* #logo .logo-over {
  padding: 0.25em;
  font-family: "Oleo Script";
  font-size: 3em;
  border-radius: 0.25em;
  background-color: #ff4486;
  color: #fff;
} */

/* #logo .logo-under {
  margin-left: 2em;
  font-weight: 800;
  color: #444;
} */

/* NAV */
/* #nav > .c  {
  display: flex;
} */

/* #nav li {
  margin: 0 0.5rem;
  font-weight: 800;
} */

/* #nav a {
  display: block;
  padding: 0.6em;
  border-radius: 10px;
  color: #444;
} */

/* MAIN */

/* #main {
  line-height: 1.5;
} */

/* BANNER */

/* .banner {
  line-height: 1.2;
  margin: 2em 0;
} */

/* .banner > .cc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4em;
  border-radius: 10px;
  border-bottom: 3px solid #ddd;
  background: #fff; */
}

/* .banner .call {
  width: 60%;
} */

/* .banner h2 {
  margin-bottom: 0.3em;
  font-size: 3rem;
  font-weight: 800;
  color: #444;
} */

/* .banner h3 {
  font-size: 3rem;
  font-weight: 300;
  color: #696969;
} */

/* .banner .actions {
  display: flex;
  flex-direction: column;
  width: 35%;
  
} */

/* 
.banner .actions a {
  display: block;
  width: 100%;
  margin: 0.2em 0;
  padding: 0.5em;
  font-weight: 800;
  font-size: 2.25rem;
  border-radius: 10px;
} */

/* .banner .actions a:first-child {
  color: #fff;
  background: #0090c5;
} */

/* .banner .actions a:last-child {
  color: #696969;
  background: #f1f1f1;
} */

/* PANELS */
/* .panels {
  margin: 2rem 0;
} */
/* 
.panels > .cc {
  display: flex;
  justify-content: space-between;
} */

/* .panel {
  width: 30%;
  background: #fff;
  border-bottom: 3px solid #ddd;
  border-radius: 10px;
  line-height: 1.625;
} */

/* .panel-content {
  padding: 1.5em;
} */

/* .panel h4 {
  font-weight: 800;
} */

/* images */
/* .panel .panel-thumbnail {
  min-height: 300px;
  background-size: cover;
  background-position: center middle;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
} */

/* .panel:first-child .panel-thumbnail {
  background-image: url(https://38.media.tumblr.com/f264b862a6bf8ba5b9f06bf8bf4ea635/tumblr_na0kcnVUoi1st5lhmo1_1280.jpg);
}

.panel:nth-child(2) .panel-thumbnail {
  background-image: url(https://38.media.tumblr.com/2741d3e79ea3782f87c65c1e44b5f9fa/tumblr_na0kb0BLqR1st5lhmo1_1280.jpg);
}

.panel:last-child .panel-thumbnail {
  background-image: url(https://38.media.tumblr.com/817b3ff5f5a288b2691725abeb3d1531/tumblr_na0k8dFafa1st5lhmo1_1280.jpg);
} */

/* .feature {
  border-radius: 10px;
  border-bottom: 3px solid #ddd;
  background: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  align-items: center;
  font-size: 30px;
  padding: 60px;
  margin: 60px;
} */

/* .feature-text {
  width: 100%;
  margin: 20px;
} */
/* 
.feature-image {
  width: 500px;
  height: 500px;
} */
